<div class="side-bar-item-no-border-bottom">
    <h2 class="govuk-heading-s">API Documentation</h2>
    <p>We use Swagger Docs for our API documentation.</p>
    <a href="/api/docs" class="govuk-link">View API Documentation</a>
</div>
<div class="side-bar-item-no-border-bottom">
    <h2 class="govuk-heading-s">Metadata Schema</h2>
    <p>Information about the Open Regulatory Platform's Metadata Schema.</p>
    <a href="/developer/metadata-schema" class="govuk-link">View Metadata Schema</a>
</div>
