<div class="side-bar-item-no-border-bottom">
    <h3 class="govuk-heading-s">API Documentation</h3>
    <p>We use Swagger Docs for our API documentation.</p>
    <a href="/api/docs" class="govuk-link">View API Documentation</a>
</div>
