<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <a href="/blog" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <span class="govuk-caption-l">Blog</span>
        <h1 class="govuk-heading-l">Register your interest</h1>
        <p>Explanitory text about involvement in the ORP</p>

        <hr class="govuk-section-break govuk-section-break--l">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div id="mc_embed_signup">
                    <form style="position: relative;" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">
                        <div id="mc_embed_signup_scroll">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="mce-EMAIL">
                                    Your email address
                                </label>
                                <input id="mce-EMAIL" class="govuk-input govuk-!-width-two-thirds" name="email_address" type="email">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="mce-ORG">
                                    Your organisation
                                </label>
                                <input id="mce-ORG" class="govuk-input govuk-!-width-two-thirds" name="org" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="mce-JOB">
                                    Your job title
                                </label>
                                <input id="mce-JOB" class="govuk-input govuk-!-width-two-thirds" name="job" type="text">
                            </div>

                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div class="mockItem" aria-hidden="true"><input type="text" name="b_421d6e3d31b5a15d8560c613d_d8234fcc62" tabindex="-1" value=""></div>
                            <button id="mc-embedded-subscribe" type="submit" class="govuk-button" data-module="govuk-button">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
                <div class="govuk-inset-text">
                    Please read our <a href="/privacy" class="govuk-link">privacy notice</a> to see how we handle your information.
                </div>
            </div>

            <%- include('../../partials/aboutSidebar', {excludeRegister: true}); %>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
