<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">New email sent</h1>
                <p>Click on the link to confirm your address. Return to this service and <a href="/auth/login">sign in</a> using the email address you provided.</p>
                <p>If our email doesn’t arrive within 5 minutes, check your spam or trash folder, or contact <a href="mailto:openregulationplatform@beis.gov.uk">openregulationplatform@beis.gov.uk</a>.</p>
            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
