<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sign in email sent</h1>
                <p>If your email address has been registered with the Open Regulation Platform then we will have sent you an email. Click the link in the email to sign in.</p>
                <p>If you are not registered you can <a href="/auth/register">register to use the ORP</a> if you have a regulator email address.</p></p>
                <p>If our email doesn’t arrive within 2 minutes, check your spam or trash folder or <a href="/auth/login">try again</a>.</p>
                <p>If you are having difficulties signing in, contact <a href="mailto:openregulationplatform@beis.gov.uk">openregulationplatform@beis.gov.uk</a>.</p>
            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
