<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sign in email sent</h1>
                <p>An email has been sent to the email address provided.</p>
                <p>Click the link in the email to be logged into the system.</p>
                <p>If our email doesn’t arrive within 5 minutes, check your spam or trash folder, or contact <a href="mailto:openregulationplatform@beis.gov.uk">openregulationplatform@beis.gov.uk</a>. If you are not registered you will need to <a href="/auth/register">register to use the ORP</a> first.</p>
            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
