<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Too many sign in attempts</h1>
                <p class="govuk-!-width-three-quarters">You have attempted to sign in too many time with the wrong email or password. For security reasons, your account has been temporarily frozen. Please wait <span class="govuk-!-font-weight-bold">15 minutes</span> and try again.</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="side-bar-item-no-border-bottom">
                    <div class="govuk-!-margin-bottom-6">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Don't have an account?</h3>
                        <a href="/auth/register" class="govuk-link govuk-link--no-visited-state">Create an account</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
