<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Password successfully reset</h1>
                <p>Your new password is now active and should be used to log in to the service.</p>
            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
