<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Generate Your API Credentials</h1>
                <p>A Client ID and Client Secret is required to access the Open Regulation Platform API. Anyone at your organisation can use these credentials.</p>

                <form method="post" class="govuk-!-margin-top-9" action="/developer/new-credentials">
                    <div class="govuk-form-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Generate Credentials
                        </button>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                <%- include('./partials/developerRightBar'); %>
            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
