{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitle = applicationName + " - Home" %}

{% block content %}
    <main class="app-container govuk-body">
        <h1>{{ title }}</h1>
        <p>{{ msg }}</p>

        {% if errors %}
            {{ errors }}
        {% endif %}
    </main>
{% endblock %}

