<div class="govuk-form-group filter-item govuk-!-padding-top-4 govuk-!-margin-bottom-0">
    <fieldset class="govuk-fieldset" data-module="count-selections">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h3 class="govuk-fieldset__heading">
                Status
            </h3>
        </legend>
        <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
            <summary class="govuk-details__summary" data-module="show-hide">
                        <span class="govuk-details__summary-text" >
                          Show
                        </span>
            </summary>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <% Object.keys(allStatuses).forEach((itemKey) => {
                    var valueSelected = selectedStatuses.includes(itemKey)
                %>

                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                    <input class="govuk-checkboxes__input" id="status-<%= itemKey %>" name="status" type="checkbox" value="<%= itemKey %>" <% if (valueSelected) { %>checked<% } %>>
                    <label class="govuk-label govuk-checkboxes__label" for="status-<%= itemKey %>">
                        <%= allStatuses[itemKey] %>
                    </label>
                </div>
                <% }) %>
            </div>
        </details>
    </fieldset>
</div>

