<div class="govuk-grid-column-one-third">
    <% if(!locals.excludeAbout) { %>
        <div class="side-bar-item">
            <h3 class="govuk-heading-s">About the Open Regulation Platform</h3>
            <p>The Open Regulation Platform (ORP) is a product which seeks to provide UK regulation as enriched machine-readable data, allowing government, businesses and third parties to develop tools that can help others navigate and comply with regulation in smarter and less burdensome ways. It is currently in its private Beta phase.</p>
            <a href="/about" class="govuk-link">Find out more</a>.
        </div>
    <% } %>
    <div class="side-bar-item">
        <h3 class="govuk-heading-s">Contact us</h3>
        <p>If you have questions about the Open Regulation Platform, or would like to support or use the service, please contact us.</p>
        <a href="mailto:openregulationplatform@beis.gov.uk">openregulationplatform@beis.gov.uk</a>
    </div>
    <div class="side-bar-item">
        <h3 class="govuk-heading-s">Subscribe and manage updates</h3>
        <a class="social-link social-email" href="/subscribe" class="govuk-link">Email</a>
    </div>
</div>
