{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
    <!--[if !IE 8]><!-->
    <link href="/assets/client.css?{{ version }}" rel="stylesheet"/>
    <!--<![endif]-->

    <!--[if lt IE 9]>
  <link href="/assets/client-ie8.css?{{ version }}" rel="stylesheet"/>
  <![endif]-->
    <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
    {{ govukHeader({
        serviceName: applicationName
    }) }}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
{# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}

    <!--[if !IE 8]><!-->
    <script src="/assets/client.js"></script>
    <!--<![endif]-->

    <!--[if lt IE 9]>
    <script src="/assets/client-ie8.js"></script>
    <![endif]-->
{% endblock %}
