<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">Privacy Notice - Online Regulatory Platform</h1>
                <p>This notice sets out how we will use your personal data, and your rights. It is made under Articles 13 and/or 14 of the UK General Data Protection Regulation (UK GDPR).</p>
                <h2 class="govuk-heading-m govuk-!-margin-top-6">Your Data</h2>

                <h3 class="govuk-heading-s govuk-!-margin-top-6">The data</h3>
                <p>We will process the following personal data:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Your email address and password to manage your account;</li>
                    <li>Your email address and subscription preferences when you sign up for our email alerts;</li>
                    <li>Information on how you use the site, using cookies and page tagging techniques</li>
                </ul>

                <h3 class="govuk-heading-s govuk-!-margin-top-6">Purpose</h3>
                <p>The purpose(s) for which we are processing your personal data is to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Gather feedback to improve our services, for example our email alerts;</li>
                    <li>Respond to any feedback you send us, if you’ve asked us to;</li>
                    <li>Allow you to access government services;</li>
                    <li>Provide you with information about local services;</li>
                    <li>Monitor use of the site to identify security threats;</li>
                    <li>Monitor the performance of the site to identify inefficiencies and errors</li>
                </ul>

                <h3 class="govuk-heading-s govuk-!-margin-top-6">Legal basis of processing</h3>
                <p>The legal basis for processing personal data in relation to site security is our
                    legitimate interests, and the legitimate interests of our users, in ensuring the
                    security and integrity of the ORP service.</p>

                <p>The legal basis for processing all other personal data is that it’s necessary for
                    the performance of a task carried out in the public interest or in the exercise of
                    official authority vested in the data controller, such as the exercise of a function
                    of the Crown, a Minister of the Crown, or a government department; the
                    exercise of a function conferred on a person by an enactment; the exercise of a
                    function of either House of Parliament; or the administration of justice. The
                    public interest is the provision of the Online Regulatory Platform.</p>


                <h3 class="govuk-heading-s govuk-!-margin-top-6">Recipients</h3>
                <p>Your personal data will be shared by us with your consent to using the service.</p>
                <p>The data we collect may be shared with other government departments, agencies and public bodies. It may also be shared with our technology suppliers, for example our hosting provider.</p>
                <p>We will share your data if we are required to do so by law - for example, by court order, or to prevent fraud or other crime.</p>
                <p>We will not:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Sell or rent your data to third parties;</li>
                    <li>Share your data with third parties for marketing purposes</li>
                </ul>

                <h3 class="govuk-heading-s govuk-!-margin-top-6">Retention</h3>
                <p>We will only retain your personal data for as long as it is needed for the purposes set out in this document or for as long as the law requires us to.</p>
                <p>We will:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Keep your email data until you unsubscribe;</li>
                    <li>Keep your feedback data for 2 years</li>
                    <li>Delete access log data which contain your IP address after 120 days</li>
                </ul>

                <h3 class="govuk-heading-s govuk-!-margin-top-6">Where your data is processed and stored</h3>
                <p>We design, build and run our systems to make sure that your data is as safe as possible at all stages, both while it’s processed and when it’s stored.</p>
                <p>All personal data is stored in the European Economic Area (EEA).</p>


                <h2 class="govuk-heading-m govuk-!-margin-top-6">Your Rights</h2>
                <p>You have the right to request information about how your personal data are processed, and to request a copy of that personal data.</p>
                <p>You have the right to request that any inaccuracies in your personal data are rectified without delay.</p>
                <p>You have the right to request that any incomplete personal data are completed, including by means of a supplementary statement.</p>
                <p>You have the right to request that your personal data are erased if there is no longer a justification for them to be processed.</p>
                <p>You have the right in certain circumstances (for example, where accuracy is contested) to request that the processing of your personal data is restricted. </p>
                <p>You have the right to object to the processing of your personal data where it is processed for direct marketing purposes.</p>
                <p>You have a right to object to the processing of your personal data.</p>


                <h2 class="govuk-heading-m govuk-!-margin-top-6">Complaints</h2>
                <p>If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is an UK independent regulator.  The Information Commissioner can be contacted at:</p>
                <p>Information Commissioner's Office<br />Wycliffe House<br />Water Lane<br />Wilmslow<br />Cheshire<br />SK9 5AF<br />0303 123 1113<br/>casework@ico.org.uk</p>
                <p>Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts. </p>

                <h2 class="govuk-heading-m govuk-!-margin-top-6">Contact Details</h2>
                <p>The data controller for your personal data is the Department for Business, Energy & Industrial Strategy (BEIS). You can contact the BEIS Data Protection Officer at: </p>
                <p>BEIS Data Protection Officer<br />Department for Business, Energy and Industrial Strategy<br />1 Victoria Street<br />London<br />SW1H 0ET<br />Email: <a class="govuk-link" href="mailto:dataprotection@beis.gov.uk">dataprotection@beis.gov.uk</a></p>
            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
