<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <span class="govuk-caption-l">Blog</span>
        <h1 class="govuk-heading-l">Open Regulation Platform</h1>
        <p class="govuk-body-xs">Organisations: <a href="https://www.gov.uk/government/organisations/department-for-business-energy-and-industrial-strategy" class="govuk-link">Department for Business, Energy & Industrial Strategy</a>, <a href="https://www.gov.uk/government/groups/better-regulation-executive" class="govuk-link">Better Regulations Executive</a></p>

        <hr class="govuk-section-break govuk-section-break--l">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <% posts.forEach(function(post) { %>
                    <%- include('partials/blogPost', {post: post, summary: true}); %>
                <% }); %>
            </div>

            <%- include('../../partials/aboutSidebar'); %>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
