<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">

                <% if (locals.page === 'ingest') { %>
                    <% if (locals?.user) { %>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                            <h1 class="govuk-heading-l">Only UK Government Regulators can upload documents</h1>
                            <p class="govuk-!-margin-bottom-6">If you work for a UK Government Regulator, please sign-in using your work email address to upload documents to the Open Regulator Platform.</p>
                            </div>
                        </div>
                    <% } else {%>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <h1 class="govuk-heading-l">Uploading documents as a UK regulator</h1>
                                <p class="govuk-!-margin-bottom-6">To upload documents to the Open Regulation Platform, you must work for a UK regulator. Please sign in or create an account. You will need to use your work email address to verify you work for a UK regulator.</p>
                            </div>
                        </div>
                    <% } %>
                <% } %>

                <% if (locals.page === 'developer') { %>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <h1 class="govuk-heading-l">Sign in to access this page</h1>
                            <p class="govuk-!-margin-bottom-6"> You need an Open Regulation Platform account to access the developer portal. Please sign in or create an account.</p>
                        </div>
                    </div>
                <% } %>

                <% if (!locals?.user) { %>
                    <a href="/auth/login" role="button" class="govuk-button" data-module="govuk-button">
                        Sign in
                    </a>
                 <% } %>

    </main>
</div>

<%- include('../../partials/footer'); %>
