<div class="govuk-form-group <% if(validationError) { %>govuk-form-group--error<% } %>">
    <label class="govuk-label" for="file-upload">
        Upload a file
    </label>
    <% if(validationError) { %>
        <p id="file-upload-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> <%= validationError %>
        </p>
    <% } %>
    <input class="govuk-file-upload" id="file-upload" name="file" type="file">
</div>
