<div class="govuk-form-group <% if(validationError) { %>govuk-form-group--error<% } %>">
    <h1 class="govuk-label-wrapper">
        <label class="govuk-label" for="url">
            Enter a URL
        </label>
    </h1>
    <div id="url-hint" class="govuk-hint">
        Currently, you can only enter URLs of gov.uk pages. If the document is published somewhere else then you will need to upload from your device. If the document you are uploading is published on gov.uk you can simply enter the URL below.
    </div>
    <% if(validationError) { %>
        <p id="url-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> <%= validationError %>
        </p>
    <% } %>
    <input class="govuk-input <% if(validationError) { %> govuk-input--error<% } %>" id="url" name="url" type="text" aria-describedby="url-hint <% if(validationError) { %>url-error<% } %>">
</div>

