<%- include('../../partials/header'); %>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-l">Step 4 of 5</span>
                <h1 class="govuk-heading-l">
                    Is this a draft document?
                </h1>
                <%- include('../../partials/components/errorSummary', { errors: locals.errors, hrefOverride: "document-draft-yes" }); %>

                <%- include('../../partials/forms/statusSelection', ); %>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Get help uploading a document
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p>Contact <a class="govuk-link" href="mailto:openregulationplatform@beis.gov.uk">openregulationplatform@beis.gov.uk</a> if you need help using this service.</p>
                    </div>
                </details>

            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
