<%- include('../../partials/header'); %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Upload a document</h1>
                <p>You can use this page to upload a document to the Open Regulation Platform. Documents that are uploaded will become visible to other users of the service.</p>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      What happens to my document once uploaded?
                    </span>
                    </summary>
                    <div class="govuk-details__text">
                        Key information, such as title and publishing date, are extracted from your document so that users of the service can search for it.
                    </div>
                </details>
                <h2 class="govuk-heading-m">How to upload documents</h2>
                <p>You can upload documents in the following formats:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>PDF (.pdf)</li>
                    <li>Microsoft Word (.docx)</li>
                    <li>Open Office Text (.odt)</li>
                    <li>HTML (url)</li>
                </ul>
                <p>You can only submit one file at a time. The document that you upload must match the version of the document available to the public on your organisations website.</p>

                <a href="/ingest/upload" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Start
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                </a>

                <h2 class="govuk-heading-m">Get help uploading a document</h2>
                <p>Contact <a class="govuk-link" href="mailto:openregulationplatform@beis.gov.uk">openregulationplatform@beis.gov.uk</a> if you need help using this service.</p>
            </div>
        </div>
    </main>
</div>

<%- include('../../partials/footer'); %>
