.blog-post-list-item {
  padding: 35px 0;
  border-top: 1px solid #B1B4B6;

  &:last-child {
    border-bottom: 1px solid #B1B4B6;
  }
}

.side-bar-item {
  padding: 20px 0 40px 0;
  border-top: 2px solid #0B0C0C;
  &:last-child {
    border-bottom: 2px solid #0B0C0C;
  }
}

.side-bar-item-no-border-bottom {
  padding: 20px 0 40px 0;
  border-top: 2px solid #0B0C0C;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 20px;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
}

.floating-img {
  float: left;
  padding: 0 20px 20px 0;
}
