.vertical-align {
  display: flex;
  vertical-align: middle;
}

.vertical-align-right {
  display: flex;
  vertical-align: middle;
  justify-content: flex-end;
}

.sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 20px;
  margin-top: -20px;
}
