#search-container {
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
}

.search-no-content {
  p {
    text-align: center;
    color: govuk-colour("dark-grey", $legacy: "grey-1");
  }

  @include govuk-media-query($from: mobile) {
    padding: 170px 70px;
  }
  padding: 20px 0;
}


.search-no-content-panel {
  @extend .search-no-content;
  @include govuk-media-query($from: mobile) {
    padding: 70px 70px;
  }
  padding: 20px 0;
}

.search-result {
  border: 1px solid govuk-colour("mid-grey", $legacy: "grey-2");

  .search-result-top-panel {
    background-color: govuk-colour("light-grey", $legacy: "grey-3");
    min-height: 44px;
  }
}

.govuk-tabs__panel.no-border {
  border: none;
  padding: 0;
}

.search-result-info {
  display: flex;
  color: govuk-colour("dark-grey", $legacy: "grey-1");
  span {
    display: flex;
    align-items: center;
    margin-right: 0.6em;
    &:not(:first-of-type){
      &:before {
        display: inline-block;
        content: '';
        -webkit-border-radius: 0.375rem;
        border-radius: 0.375rem;
        height: 0.3rem;
        width: 0.3rem;
        margin-right: 0.6rem;
        background-color: govuk-colour("dark-grey", $legacy: "grey-1");
      }
    }
  }
}

.filter-item {
  border-top: 2px solid govuk-colour("mid-grey", $legacy: "grey-2");;
  &:last-child {
    border-bottom: 2px solid govuk-colour("mid-grey", $legacy: "grey-2");;
  }
}

.search-result-keywords {
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    font-size: 16px;

    li {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 5px;
      background-color: govuk-colour("light-grey", $legacy: "grey-3");
      border: 1px solid govuk-colour("mid-grey", $legacy: "grey-2");;
    }
  }
}
